.selectView {
    width: 100%;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.option {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s, color 0.3s;

    justify-content: center;
    align-items: center;
}

.option.selected {
    outline: lightblue 4px solid;
}