.multi_form {
    display: flexbox;
    flex-direction: column;

    /* form {
        border-top: none;
    } */
    >:first-child:not(:last-of-type) {
        border-bottom: none;
    }
    >:not(:first-of-type):not(:last-of-type) {
        border-top: none;
        border-bottom: none;
    }
    >:last-child:not(:first-of-type) {
        border-top: none;
    }
}