.poster {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    /* margin: 16px; */
    max-width: 90%;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.posterTitle {
    font-size: clamp(2rem, 3.5vw, 3rem);
    font-weight: bold;
    margin-bottom: 8px;
}

.posterImage {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 12px;
}

.posterDescription {
    font-size: clamp(1.2rem, 2vw, 2rem);
    color: #555;

    overflow-wrap: break-word;

    word-wrap: break-word;
}

@media (min-width: 768px) {
    .poster {
        max-width: 600px;
    }
}

@media (min-width: 1024px) {
    .poster {
        max-width: 800px;
    }
}