.poster {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    max-width: 90%;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.posterTitle {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 8px;
}

.posterImage {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 12px;
}

.posterDescription {
    font-size: 1.2em;
    color: #555;

    overflow-wrap: nowrap;

    word-wrap: nowrap;
    white-space: pre-wrap;
}

@media (min-width: 768px) {
    .poster {
        max-width: 600px;
    }
}

@media (min-width: 1024px) {
    .poster {
        max-width: 800px;
    }
}