.poster {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: auto;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.posterTitle {
    font-size: var(--font-medium);
    white-space: no-wrap;
    font-weight: bold;
}

.posterDescription {
    font-size: var(--font-small);
    color: #555;
    line-height: 1.6;
}

.posterImage {
    object-fit: contain;
    width: 320px;
    max-height: 180px;
    margin: 0 auto;
}