.poster {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: auto;
    max-width: 90%;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.posterTitle {
    font-size: clamp(1.5rem, 4vw, 3rem);
    font-weight: bold;
}

.posterDescription {
    font-size: clamp(1.2rem, 2.5vw, 2rem);
    color: #555;
    line-height: 1.6;
}

.posterImage {
    object-fit: contain;
    max-height: 150px;
}