.button {
    padding: 0.75rem 1.5rem;
    background-color: #47a34a;
    color: rgb(231, 231, 231);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #368036;
}

.button[disabled] {
    cursor: not-allowed;
    background-color: #777777;
    color: #000;
}