.image_container {
    display: flex;
    flex-wrap: wrap;/* これを指定する */
    justify-content:center;
}

.image_wapper {
    margin: 15px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7e7e7;

    transition: background-color 0.3s;
}

.image_wapper:hover {
    background-color: #d4d4d4;
}