.form {
    display: flex;
    flex-direction: column;


    margin: 0 auto;
    max-width: 800px;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid #ddd;



    align-items: center;


    
    font-weight: bold;
    background-color: #e9eaf3;
}

.form h2 {
    margin-bottom: 1rem;

    text-align: center;

    font-size: var(--font-large);
}

.form_label {
    font-size: var(--font-medium);

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    font-weight: bold;
}

.form_label:has(input[type="checkbox"]) {
    flex-direction: row;
}

.form_input,
.form_textarea {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form_textarea {
    min-height: 150px;
}

.form_select {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;

    option {
        padding: 0.5rem;
    }
}

.form_button {
    padding: 0.75rem 1.5rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}


.form_field_container {
    width: 100%;
    display: flex;
    flex-direction: column;
}