@import "tailwindcss";

:root {
    --body-bg: #ffffff;
    --background: #ededed;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --body-bg: #000000;
    --background: #171717;
    --foreground: #ededed;
  } */
}

body {

    display: flex;
    flex-direction: column;

    background: var(--body-bg);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;

    min-height: 100vh;

}


.container {

    flex: 1;

    background: var(--background);
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
}
