@import "tailwindcss";

:root {
    --body-bg: #ffffff;
    --background: #ededed;
    --foreground: #171717;


    --font-x-large: 56px;
    --font-large: 32px;
    --font-medium: 20px;
    --font-small: 14px;
}


@media (max-width: 768px) {
    :root {
        --font-x-large: 40px;
        --font-large: 24px;
        --font-medium: 18px;
        --font-small: 12px;
    }
}


@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --body-bg: #000000;
    --background: #171717;
    --foreground: #ededed;
  } */
}

body {

    display: flex;
    flex-direction: column;

    background: var(--body-bg);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;

    min-height: 100vh;

}


.container {

    flex: 1;

    background: var(--background);
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
}
