.frame {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;

    display: flex;
}

.tab {
    width: 500px;

    padding: 10px 20px;
    border: 1px solid #ccc;
    border-bottom: none;
    cursor: pointer;
}